<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold"><%= @request_faillure ? "Something went wrong " : "Drug Coverage Not Found" %></h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span> <%= @request_faillure ? "Unable to retrieve your coverage plan from the server." : "You do not have any active coverage." %></p>
    <% if @request_faillure %>
      <p class="lead">
        Error message from the server:
      </p>
      <%= @request_faillure %>
      <%= link_to 'Go Home', root_path, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Browse Coverage Plans', coverageplans_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
