<header>
	<nav class='navbar fixed-top navbar-expand-lg bg-dark navbar-dark'>
		<div class='navbar-brand'>
			<%= link_to root_path do %>
				<%= image_tag 'logo.png', id: 'logo', alt: '' %>
				<h1>My Health Plan</h1>
			<% end %>
		</div>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav mr-auto'>
        <li>
          <%= link_to 'Patient', patient_access_path, class: 'nav-link' %>
        </li>
        <% if @client %>
          <li>
            <%= link_to 'Coverage Plans', coverageplans_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Shopping', root_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
	</nav>
</header>
