<h2 class="text-light welcome-text">Lookup Drugs by Formulary, Tier, Name, and/or RxNorm</h2>
<div class='row mb-1 col-md-12'>
	<%= form_tag formularies_path, method: 'get', class: 'form-inline welcome-form', id: 'formulary-form' do %>
		<div class='form-group col-md-3'>
			<%= select_tag(:coverage, options_for_select(@cp_options),
							prompt: 'Formulary', class: 'custom-select coverage-select') %>
		</div>
		<div class='form-group col-md-2'>
			<%= select_tag(:drug_tier, options_for_select([['All', ''],
											['Generic', 'generic'],
											['Medical Benefit', 'medical-benefit'],
											['Preferred Brand', 'preferred-brand'],
											['Non-preferred Brand', 'non-preferred-brand'],
											['Specialty', 'specialty'],
											['Non-preferred Brand Specialty', 'non-preferred-brand-specialty'],
											['Zero-cost Share Preventive', 'zero-cost-share-preventive']]),
											prompt: 'Drug Tier',
											class: 'custom-select drug-tier-select') %>
		</div>
		<div class='form-group col-md-3'>
			<%= text_field_tag :name, nil, class: 'form-control code-input', placeholder: 'Drug Name'%>
		</div>

		<div class='form-group col-md-2 last'>
			<%= text_field_tag :code, nil, class: 'form-control code-input', placeholder: 'RxNorm code'%>
		</div>
		<%= button_tag 'Lookup', class: 'btn btn-primary col-md-2', id: 'formulary-url', disabled: @client.nil? %>
		<div class='col'></div>
	<% end %>
</div>
<p class='text-info guidance ml-auto mr-auto mb-5'>
	Each of the above options can be left unspecified.
	Pressing "Lookup" will display the intersection of defined options.
</p>
