<section class='container'>
	<section class='row col-12'>
		<% if @client %>
			<p class="text-success m-auto">Connected to <%= cookies[:server_url] -%><p>
		<%else%>
			<p class="text-danger m-auto">No Connection Established</p>
		<% end %>
	</section>
	<section class='row col-12 mt-2 mb-5'>
		<%= form_tag root_path, method: 'get', class: 'form-inline', id: 'server-form' do %>
			<div class='col'></div>
			<div class='form-group col-md-7'>
				<%= text_field_tag :server_url, nil, class: 'form-control',
							placeholder: 'http://your-formulary-server.org' %>
			</div>
			<%= button_tag class: 'btn btn-primary col-md-2', id: 'formulary-url' do %>
				Connect
			<% end %>
			<div class='col'></div>
		<% end %>
	</section>
	<section class="row col-12">
		<div class='col'></div>
		<%= form_tag formularies_path, method: 'get', class: 'form-inline col-md-8', id: 'formulary-form' do %>
			<div class='form-group col-md-9'>
				<%= select_tag(:drug_tier, options_for_select([['All', 'All'], 
												['Generic', 'GENERIC'],
												['Preferred Brand', 'PREFERRED-BRAND'], 
												['Non-preferred Brand', 'NON-PREFERRED-BRAND'],
												['Specialty', 'SPECIALTY'], 
												['Non-preferred Brand Specialty', 'NON_PREFERRED-BRAND-SPECIALTY'],
												['Zero-cost Share Preventive', 'ZERO-COST-SHARE-PREVENTIVE']]),
												prompt: 'Drug Tier',
												class: 'custom-select drug-tier-select',
												id: 'inlineFormCustomSelect') %>
			</div>

			<%= button_tag class: 'btn btn-primary col-md-3', id: 'formulary-url', disabled: @client.nil? do %>
				Lookup
			<% end %>
		<% end %>
		<div class='col'></div>
	</section>
</section>
