<section class='container'>
	<h2 class="text-light welcome-text">Connect to a Formulary server</h2>
	<div class='row'>
		<%= form_tag root_path, method: 'get', class: 'form-inline welcome-form', id: 'server-form' do %>
			<div class='col'></div>
			<div class='form-group col-md-7 last'>
				<%= text_field_tag :server_url, nil, class: 'form-control',
							placeholder: 'https://davinci-drug-formulary-ri.logicahealth.org/fhir' %>
			</div>
			<%= button_tag 'Connect', class: 'btn btn-primary col-md-2', id: 'server-url' %>
			<div class='col'></div>
		<% end %>
	</div>
	<div class='ml-auto mr-auto mb-5'>
		<% if @client %>
			<p class="text-success m-auto client-connected" style='text-align: center'>
				Connected to <%= cookies[:server_url] -%>
			</p>
			<div class='container col-5'>
				<table class="table table-dark ">
					<tr class="row">
					<td class ="col-md-auto"><%= @count %>  <%= link_to "Formulary Drugs", formularies_path%></td>
					<td class ="col-md-auto "><%=@cp_count %>  <%= link_to "Coverage Plans", coverageplans_path%> </td>
					</tr>			
				</table>
			</div>
		<% else  %>
			<div class='text-warning guidance'>
				Not connected - please connect to a Formulary server.
			</div>
		<% end %>
	</div>
	<ul class="nav nav-tabs bg-dark" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#drug-lookup" role="tab" aria-controls="home" aria-selected="true">Drug Lookup</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#coverage-plans" role="tab" aria-controls="profile" aria-selected="false">Coverage Plans</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#compare-plans" role="tab" aria-controls="contact" aria-selected="false">Compare Plans</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active bg-dark" id="drug-lookup" role="tabpanel" aria-labelledby="drug-lookup-tab">
			<%= render 'drug_lookup' %>
		</div>
		<div class="tab-pane fade bg-dark" id="coverage-plans" role="tabpanel" aria-labelledby="coverage-plans-tab">
			<%= render 'coverage_plans' %>
		</div>
		<div class="tab-pane fade bg-dark" id="compare-plans" role="tabpanel" aria-labelledby="compare-plans-tab">
			<%= render 'compare_plans' %>
		</div>
	</div>	
</section>

