<section>
  <div class='row compare-page-search'>
    <div class="mb-2 mx-5 justify-content-end">
      <%= render 'partials/query' %>
    </div>
		<%= form_tag compare_index_path, method: 'get', class: 'form-inline welcome-form my-2', id: 'compare-page-form' do %>
			<div class='col'></div>
			<div class='form-group col-md-4'>
				<%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by drug name' %>
			</div>
			<div class='form-group col-md-4'>
				<%= text_field_tag :code, nil, class: 'form-control code-input', placeholder: 'RxNorm codes separated by comma'%>
			</div>
      <%= button_tag 'Compare Formularies', class: 'btn btn-primary col-md-3',
        id: 'compare-page-url', disabled: @client.nil? %>
			<div class='col'></div>
		<% end %>
	</div>
  <div class='compare-table-container'>
    <table class='table table-dark compare-table h6'>
      <thead>
        <tr>
          <th scope='col' class='compare-drug-col compare-table-header' id="compare-drug-header">Drug</th>
            <% @table_header.each do |cp| %>
              <th scope='col' class='compare-table-header compare-col'><%= cp.name -%></th>
            <% end %>
        </tr>
      </thead>
      <% @table_rows.each do |code, plan_hash| %>
        <tr>
          <td class='compare-drug-col'>
            <%= plan_hash.values.first.drug_name -%> (<%= link_to code, "https://mor.nlm.nih.gov/RxNav/search?searchBy=RXCUI&searchTerm=" + code  %>)
          </td>
          <% @table_header.each do |cp| %>
            <% fd = plan_hash[cp.id] %>
            <% c = (fd ? "": "table-danger ") %>
            <td class="<%= c %>text-center">
              <% if fd %>
                <table class='table bg-transparent table-sm text-white ml-n2'>
                  <colgroup>
                    <col style='width:60%;'>
                    <col style='width:40%;'>
                  </colgroup>
                  <tr>
                    <th></td>Tier:&nbsp;</th>
                    <td><%= link_to sanitize(fd.drug_tier) , formulary_path(fd.id) %></td>
                  </tr>
                  <tr>
                    <th>Copay:&nbsp; </th>
                    <td><%= sanitize(fd.copay) %></td>
                  </tr>
                  <tr>
                    <th>CoInsurance:&nbsp; </th>
                    <td><%= sanitize(fd.coinsurancerate) %></td>
                  </tr>
                </table>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</section>

