<section class="container vh-100 ">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-10 col-md-10 col-lg-12 col-xl-12">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h4 class="text-uppercase card-title text-center mb-5">Connect to a Patient FHIR server</h4>
              <% if @client %>
                <p class="card-subtitle text-success m-auto client-connected text-center">
                  Connected to <%= session[:iss_url] -%>
                </p>
                <p class="card-subtitle text-success m-auto client-connected text-center">
                  Patient <%= session[:patient_id] -%>
                </p>
                <br />
                <%= form_tag dashboard_path, method: "get", id: "server-form" do %>
                  <div class="d-flex justify-content-center">
                    <%= button_tag "My Formulary", class: "btn btn-success btn-block btn-md gradient-custom-4 text-body", id: "server-url" %>
                  </div>
                <% end %>
              <% else %>
                <p class="card-subtitle text-danger m-auto" style='text-align: center'>No Connection Established</p>
              <% end %>
              <%= form_tag server_metadata_path, method: "get", id: "server-form" do %>

                <div class="form-outline mb-4">
                  <%= text_field_tag :iss_url, cookies[:iss_url], class: "form-control form-control-lg",
                                                                  placeholder: "https://davinci-drug-formulary-ri.logicahealth.org/fhir" %>
                  <label class="form-label">FHIR Server with Patients</label>
                </div>
                <div class="form-outline mb-4">
                  <%= text_field_tag :client_id, cookies[:client_id], class: "form-control form-control-lg",
                                                                      placeholder: "Client ID" %>
                  <label class="form-label">Client ID</label>
                </div>
                <div class="form-outline mb-4">
                  <%= text_field_tag :client_secret, cookies[:client_secret], class: "form-control form-control-lg",
                                                                              placeholder: "Client secret" %>
                  <label class="form-label">Client Secret</label>
                </div>
                <div class="d-flex justify-content-center">
                  <%= button_tag "Connect", class: "btn btn-primary btn-block btn-md gradient-custom-4 text-body", id: "server-url" %>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  This app also supports UDAP dynamic registration and JWT-based authentication.
                </p>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
