<section class='container'>
  <section class='row col-12'>
    <div class='col-12'>
      <h3 class='float-left text-white'>Formulary Drugs</h3>
      <%= render 'partials/query' %>
      <div class='btn-group float-right mt-2' role='group'>
        <%= link_to 'Previous', formularies_path(page: 'previous'), class: 'btn btn-outline-primary' %>
        <%= link_to 'Next', 		formularies_path(page: 'next'), 		class: 'btn btn-outline-primary' %>
      </div>
    </div>
    <table class='table table-dark'>
      <caption></caption>
      <tr>
        <th scope='col'>Drug</th>
        <th scope='col'>Tier</th>
        <th scope='col'>Coverage Plan</th>
        <th scope='col'>RxNorm</th>
      </tr>
      <% @formularydrugs.each do |formulary_drug| %>
        <tr>
          <td>
            <div class='drug'>
              <%= link_to formulary_drug.drug_name, formulary_drug.formulary_id_path %>
            </div>
            <% formulary_drug.coverage_restrictions.each do |key, value| %>
              <span class="<%= key %>"><%= value %></span>
            <% end %>
          </td>
          <td><%= formulary_drug.formatted_drug_tier %> </td>
          <td><%= link_to formulary_drug.plan_name , formulary_drug.plan_path %></td>
          <td><%= link_to formulary_drug.rxnorm_code, formulary_drug.rxnorm_path %></td>
        </tr>
      <% end %>
    </table>
    <div class='col-12'>
      <div class='btn-group float-right mt-2' role='group'>
        <%= link_to 'Previous', formularies_path(page: 'previous'), class: 'btn btn-outline-primary' %>
        <%= link_to 'Next', 		formularies_path(page: 'next'), 		class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </section>
</section>
