<section class='container'>
	<section class='row col-12'>
		<div class='col-12'>
			<h3 class='float-left text-white'>
        Formulary Drugs <%= "for #{@formulary[:name]}" if @formulary.present? %>
      </h3>
      <%= render 'partials/query' %>
			<div class='btn-group float-right mt-2' role='group'>
				<%= link_to 'Previous', formularies_path(page: 'previous'), class: 'btn btn-outline-primary' %>
				<%= link_to 'Next', 		formularies_path(page: 'next'), 		class: 'btn btn-outline-primary' %>
			</div>
		</div>
		<table class='table table-dark text-center'>
			<tr>
				<th scope='col'>Drug</th>
				<th scope='col'>Tier</th>
				<th scope='col' data-toggle='tooltip' title='1 month in network'>Copay</th>
				<th scope='col' data-toggle='tooltip' title='1 month in network'>CoInsurance</th>
				<th scope='col'>Formulary</th>
				<th scope='col'>RxNorm</th>
			</tr>
			<% @formularydrugs.each do |formulary_drug| %>
				<tr>
					<td>
						<div class='drug'>
							<%= link_to sanitize(formulary_drug.drug_name), formulary_path(formulary_drug.id) %>
						</div>
						<% if formulary_drug.mailorder %>
              <% title_text = formulary_drug.mail_supplies&.map {|s| "<p>#{s}</p>"}&.join(' ') %>
							<span class='mail-order' data-toggle='tooltip' data-html='true' title="<%= title_text%>">
                Mail Order
              </span>
						<% end %>

						<% if formulary_drug.prior_auth %>
							<% title_text = "Prior Auth Required" %>
							<% if formulary_drug.prior_auth_newstart %>
								<% title_text = title_text + " - New Starts Only" %>
							<% end %>
							<span class='prior-auth' data-toggle='tooltip' data-html='true' title="<%= title_text%>">
								Prior Auth
							</span>
						<% end %>


						<% if formulary_drug.step_therapy %>
							<% title_text = "Step Therapy Required" %>
							<% if formulary_drug.step_therapy_newstart %>
								<% title_text = title_text + " - New Starts Only" %>
							<% end %>
							<span class='step-therapy' data-toggle='tooltip' data-html='true' title="<%= title_text%>">
								Step Therapy
							</span>
			  
						<% end %>
						<% if formulary_drug.quantity_limit %>
							<% title_text = "Quantity Limit" %>
							<span class='quantity-limit' data-toggle='tooltip' data-html='true' title="<%= title_text%>">
								Quantity Limit
							</span>

						<% end %>
					</td>
					<td><%= sanitize(formulary_drug.drug_tier.titlecase) %> </td>
					<td><%= sanitize(formulary_drug.copay) %></td>
					<td> <%= sanitize(formulary_drug.coinsurancerate) %></td>
					<td><%= link_to formulary_drug.plan[:name] , coverageplan_path(formulary_drug.plan[:id]) %></td>
					<td><%= link_to formulary_drug.rxnorm_code, formulary_drug.rxnorm_path %></td>
				</tr>
			<% end %>
		</table>
		<div class='col-12'>
			<div class='btn-group float-right mt-2' role='group'>
				<%= link_to 'Previous', formularies_path(page: 'previous'), class: 'btn btn-outline-primary' %>
				<%= link_to 'Next', 		formularies_path(page: 'next'), 		class: 'btn btn-outline-primary' %>
			</div>
		</div>
	</section>
</section>
