<section class='container'>
	<section class='row col-12'>
		<div class='col-12'>
			<h3 class='float-left text-white'>Covered Drugs</h3>
			<div class='btn-group float-right mt-2' role='group'>
				<%= link_to 'Previous', formularies_path(page: 'previous'), class: 'btn btn-outline-primary' %>
				<%= link_to 'Next', 		formularies_path(page: 'next'), 		class: 'btn btn-outline-primary' %>
			</div>
		</div>
		<table class='table table-dark'>
			<tr>
				<th scope='col'>Drug</th>
				<th scope='col'>Tier</th>
				<th scope='col'>RxNorm</th>
				<th scope='col'>ID</th>
			</tr>
			<% @formulary_drugs.each do |formulary_drug| %>
				<tr>
					<td>
						<div class='drug'>
							<%= display_list(formulary_drug.code.coding) %>
						</div>
						<% if formulary_drug.extension[PRIOR_AUTH].valueBoolean %>
							<span class='prior-auth'>Prior Authorization</span>
						<% end %>
						<% if formulary_drug.extension[STEP_THERAPY].valueBoolean %>
							<span class='step-therapy'>Step Therapy</span>
						<% end %>
						<% if formulary_drug.extension[QUANTITY_LIMIT].valueBoolean %>
							<span class='quantity-limit'>Quantity Limit</span>
						<% end %>
					</td>
					<td><%= display_list(formulary_drug.extension.first.valueCodeableConcept.coding) %></td>
					<td><%= code_list(formulary_drug.code.coding) %></td>
					<td><%= formulary_drug.id %></td>
				</tr>
			<% end %>
		</table>
		<div class='col-12'>
			<div class='btn-group float-right mt-2' role='group'>
				<%= link_to 'Previous', formularies_path(page: 'previous'), class: 'btn btn-outline-primary' %>
				<%= link_to 'Next', 		formularies_path(page: 'next'), 		class: 'btn btn-outline-primary' %>
			</div>
		</div>
	</section>
</section>
