<section class='container'>
  <% if (@request_faillure || @formulary_drug.invalid?) %>
    <%= render "partials/query" %>
    <% error_msg = "The data received from the server is not valid: " %>
    <% error_msg += "[ #{@formulary_drug&.errors&.full_messages&.join(', ')} ]" %>
    <%= render 'dashboard/query-error', resource_type: 'Formulary Drug', not_found_message: raw(error_msg) %>
  <% else %>
    <div class='drug-head'>
      <h3 class='float-left text-white'>Formulary Drug </h3>
      <%= render 'partials/query' %>
      <table class='table table-dark'>
        <caption></caption>
        <tbody>
          <tr>
            <th>Drug Name </th>
            <td><%= @formulary_drug.drug_name%> ( <%=@formulary_drug.rxnorm_code%>)</td>
          </tr>
          <tr>
            <th>Coverage Plan</th>
            <td><%= link_to @formulary_drug.plan_name , @formulary_drug.plan_path %></td>
          </tr>
          <tr>
            <th>Drug Tier</th>
            <td><%= @formulary_drug.formatted_drug_tier %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <section class=''>
      <div class='my-auto'>
        <% @formulary_drug.coverage_restrictions.each do |key, value| %>
          <span class="<%= key %>"><%= value %></span>
        <% end %>
      </div>
      <% if (tierdesc = @formulary_drug.plan_tierdesc).present? %>
        <div class ='drug w-100'>
          <% if tierdesc[:mailorder] %>
            <span class='mail-order'>Mail Order</span>
          <% end %>
          <table class='table table-dark'>
            <caption>Tier info</caption>
            <tr>
              <th scope='col'>Pharmacy Type</th>
              <th scope='col'>CoPay</th>
              <th scope='col'>CoPay Option</th>
              <th scope='col'>CoInsurance</th>
              <th scope='col'>CoInsurance Option</th>
            </tr>
            <% tierdesc[:costshares].each do |pharmtype, costshare| %>
              <tr>
                <td> <%= pharmtype.to_s.split('-').map(&:capitalize).join(' ') %> </td>
                <td> $<%= costshare[:copay] %> </td>
                <td> <%= costshare[:copayoption].split('-').map(&:capitalize).join(' ') %> </td>
                <td> <%= costshare[:coinsurancerate] %>% </td>
                <td> <%= costshare[:coinsuranceoption].split('-').map(&:capitalize).join(' ') %> </td>
              <tr>
            <% end %>
          </table>
        </div>
      <% else %>
        <br>
        <div class='row col-12'>
          <h3 class='float-left text-white'> Tier Description Missing! </h3>
        </div>
      <% end %>
    </section>
  <% end %>
</section>
