<section class='row col-12'>
  <table class="table table-dark md-12">
		<tr>
      <td>Request</td>
      <td><%=@request || @message %></td>
		</tr>
		<tr>
      <td>Requires Token</td>
      <td><%=@requiresToken%></td>
		</tr>
	</table>
	<table class="table table-dark md-12">
		<% @outputs.each do |output| %>
      <tr>
        <td><a href="<%=output[:url]%>" target="_blank"><%= output[:type] %> Resources </a></td>
        <td><%= output[:url] %> </td>
      </tr>
		<% end %>
	</table>
</section>
